.largura {
  width:700px;
  margin:auto;
}
.menu{
font-family: 'Lobster', cursive;
  font-size: 18px;
  text-align:enter;
  width:700px;
  margin:auto;
  margin-bottom:30px;
}
.menu > a{
  text-decoration: none;
  color:black;
  margin-right: 20px;
}
.menu > a:visited {
color:blue;
}
.menu > a:visited {
color:blue;
}
.menu > a:hover {
color:black;
}
h1, h2, h3{
font-family: 'Caveat', cursive;
 padding-bottom: 5px;
 border-bottom: 2px dotted black;
}
.conteudo {
font-family: 'Dancing Script', cursive;
  line-height: 32px;
}
.img-principal{
  float:left;
  margin-right:20px;
  margin-bottom:20px;
}
.selecionado{
  border-bottom:2px dotted black;
}
